* {
  box-sizing: border-box; }

body {
  background-color: #6b9373;
  margin: 0;
  width: 740px;
  border: 2px black solid;
  padding: 2px; }

#app-container {
  background-color: #6b9373; }

.small-but-mighty {
  display: none; }

.column-container-top {
  text-align: center;
  background-color: #6b9373;
  width: 729px;
  margin-bottom: 30px;
  height: 140px;
  padding: 2px;
  margin-left: -14px;
  margin-top: 2px; }

.nav_bar {
  vertical-align: top; }

.nav_button {
  display: inline-block;
  text-align: center; }

.nav_button button {
  width: 360px;
  height: 50px;
  border: 2px white solid;
  background-color: inherit;
  color: lightgrey;
  margin-top: 40px;
  display: inline-block; }

.nav_hamburger {
  margin: 0;
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  float: left;
  font-size: 24px;
  font-weight: lighter;
  margin-left: 24px; }

.text {
  width: 100%;
  margin: 0 0 0 60px;
  width: 600px;
  height: 240px;
  background-color: #fbf9fc; }

.text h1 {
  font-family: "Paladino";
  font-size: 40px;
  padding: 4px;
  margin-left: 60px;
  width: 480px;
  text-align: center; }

.text p {
  font-family: sans-serif;
  margin: 0 auto;
  font-size: 14px;
  color: slategrey;
  padding: 6px;
  text-align: center;
  width: 480px;
  margin-left: 80px; }

.smallthumb_column {
  text-align: center;
  background-color: #6b9373;
  width: 790px;
  border: 0;
  border-radius: 0; }

.smallthumb_column img {
  width: 400px;
  height: 400px;
  border-radius: 8px 8px 0 0;
  margin-top: 20px; }

.details {
  background-color: white;
  width: 400px;
  margin: -20px 0 80px 146px;
  border-radius: 0 0 8px 8px;
  height: 160px; }

.details a {
  color: #3FC380;
  font-size: 14px; }

.details > h3 {
  font-size: 20px; }

.details > h4 {
  font-size: 16px;
  line-height: 4px;
  padding-top: 18px; }

.name {
  padding-top: 30px;
  line-height: 10px;
  font-size: 20px; }

.employee-art-grants {
  padding: 30px 8px;
  color: #EEE;
  font-family: "Palatino";
  font-weight: medium;
  background-color: #6b9373;
  margin-top: -6px;
  text-align: center; }

.employee-art-grants h1 {
  width: 680px;
  font-size: 50px; }

.employee-art-grants p {
  width: 680px;
  text-align: center;
  margin-left: 22px;
  line-height: 20px; }

.bigthumb img {
  width: 700px;
  border-radius: 8px 8px 0 0; }

.bigthumb {
  margin-bottom: 100px;
  background-color: #6b9373; }

.bigthumb .stats {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 0 0 8px 8px;
  width: 700px;
  height: 88px; }

.stats h3 {
  margin: 0;
  padding-top: 20px;
  font-size: 18px;
  color: slategrey;
  text-align: center; }

.stats h4 {
  font-size: 14px;
  color: #D2D7D3;
  margin-top: -18px;
  text-align: center; }

.stats i {
  color: #D2D7D3;
  font-size: 24px;
  margin-left: 640px;
  vertical-align: middle; }

.background {
  width: 728px;
  height: 320px;
  display: block;
  background-image: url(../assets/solrod-drawingboard-background.jpg);
  background-size: cover; }

.what {
  display: block;
  color: white;
  text-align: center;
  background-color: #6470af;
  width: 670px;
  height: 80px;
  border-radius: 6px;
  padding: 20px;
  margin-left: 16px;
  opacity: 0.9;
  position: relative;
  top: 120px; }

.icon-set {
  background-color: white;
  border: dotted 10px lightgrey;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 120px;
  padding: 30px; }

.insta-icon {
  width: 50px;
  display: inline-block;
  text-align: left; }

.insta-icon img {
  width: 40px;
  height: 40px;
  color: #D2D7D3; }

.tw-icon {
  width: 50px;
  display: inline-block; }

.tw-icon img {
  width: 40px;
  height: 40px;
  color: #D2D7D3; }

.face-icon {
  width: 50px;
  display: inline-block; }

.face-icon img {
  width: 40px;
  height: 40px;
  color: #D2D7D3; }

.nav_bar__full-width {
  display: none; }

@media screen and (min-width: 768px) {
  .nav_hamburger {
    display: none; }

  .nav_bar__full-width {
    display: inline-block; }

  .text {
    width: 1000px;
    height: 280px;
    margin: 80px 0;
    margin-left: 440px; }

  .text h1 {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 900px; }

  .text p {
    margin: 0 auto;
    width: 800px;
    line-height: 30px; }

  body {
    width: 1912px;
    border: 1px solid black; }

  #app-container {
    width: 1280px; }

  .container {
    background-color: #6b9373;
    width: 1880px; }

  .column-container-top {
    width: 1920px; }

  .nav_bar {
    width: 1920px;
    height: 80px;
    background-color: black;
    padding: 0;
    margin-top: -8px;
    color: white;
    font-size: 20px; }

  .routes {
    display: inline-block;
    padding: 28px; }

  .nav_bar__right-side {
    color: white;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 1500px; }

  .nav_button button {
    color: lightgrey;
    margin-top: 140px;
    margin-left: -160px; }

  .smallthumb_column {
    width: 1800px;
    margin-left: 80px; }

  .details {
    margin-left: 10px; }

  .employee-art-grants {
    margin-left: 520px;
    margin-bottom: 80px;
    color: #ABB7B7; }

  .bigthumb {
    width: 1500px;
    margin-left: 180px;
    margin-bottom: 40px; }

  .background {
    width: 1920px; }

  .what {
    margin-top: 60px;
    width: 100px; }

  .icon-set {
    width: 1880px;
    margin-left: 14px;
    border-bottom: lightgrey 12px dotted; }

  .icons {
    float: right; }

  .text {
    width: 1744px;
    margin: 80px 0 16px 110px; }

  .fa-shield {
    position: absolute;
    top: 2px;
    left: 14px;
    font-size: 30px; }

  .left-side_info {
    position: absolute;
    top: 2px;
    left: 80px; }

  .small-but-mighty {
    background-image: url("../assets/solrod-team-background.jpg");
    display: block;
    background-size: cover;
    height: 600px;
    width: 1908px;
    margin-bottom: 40px;
    margin-top: 40px; }

  .last-image img {
    margin-left: 700px;
    margin-top: 100px;
    width: 400px;
    height: 400px; }

  .what {
    text-align: center;
    width: 300px;
    padding-top: 30px;
    margin-left: 760px; }

  .background {
    width: 1908px; }

  .icon-set {
    width: 1908px;
    margin-left: -2px; }

  .insta-icon,
  .tw-icon,
  .face-icon {
    margin-left: 30px; }

  .face-icon {
    margin-right: 60px; }

  .icons img {
    width: 30px; } }

/*# sourceMappingURL=styles.css.map */
